# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
*.coveragerc
*.hypothesis/
.noseids
nosetests.xml
coverage.xml
*.log
*.pot
*.pyc

# Python egg-info
*.egg-info/

# Build directories
/build/
dist/
*.egg

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter specific
.ipynb_checkpoints
*.nbconvert.ipynb


# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# dotenv
.env
.env.*

# VS Code specific
.history/

# Python virtual environments
.venv/

# Setuptools-related
*.pyegg
MANIFEST
*.mo
*.po

# Ignore files for personal use:
# personal logins, keys, and scripts
library/start_bah.py
library/secrets.py
steps_A-O_bah.sh

# oamm data
oamm_data/
gold_standard_recalls.xlsx
start_oamm.py
classify_oamm_with_ollama.py
oamm_output/

# crisp data
crisp_data/
crisp_output/

